.banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &--overlay {
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to bottom left,
        hsl(0 0% 0% / 0.95),
        hsl(0 0% 0% / 0.6),
        hsl(0 12% 8% / 0.45),
        transparent
      );
    }
  }

  &--fullscreen {
    width: 100%;
    height: 500px;

    @media only screen and (min-width: 1200px) {
      height: 100vh;
    }
  }

  &--third {
    height: 300px;

    @media only screen and (min-width: 1366px) {
      height: 400px;
    }

    @media only screen and (min-width: 1400px) {
      height: 700px;
    }
  }

  &--page {
    height: 240px;
  }

  &--contact {
    height: 340px;

    @media only screen and (min-width: 1400px) {
      height: 523px;
    }
  }

  &--rent-moto {
    height: 400px;

    @media only screen and (min-width: 1400px) {
      height: 920px;
    }
  }

  &--bg-default {
    background-image: url(../images/backgrounds/moto-tours-bg.jpg);
  }

  &__center {
    height: 100%;
    display: flex;
    align-items: center;

    .about-us__texts {
      padding-top: 10%;
    }
  }

  .container {
    height: 100%;
  }

  &__title {
    position: relative;
    z-index: 1000000;

    &--center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
    }

    &--left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;

      @media only screen and (min-width: 1366px) {
        padding-bottom: 30px;
        text-align: right;
        justify-content: flex-start;
        align-items: flex-end;
      }
    }

    &--right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;

      @media only screen and (min-width: 1366px) {
        padding-bottom: 118px;
        text-align: right;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }

    &--contact {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__soviet {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 1366px) {
      padding-bottom: 180px;
      justify-content: flex-end;
    }

    p {
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }
}
