.booking {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 460px;
  background: var(--clr-white);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
  overflow: hidden;
  z-index: 100000000;

  display: none;

  @media only screen and (min-width: 992px) {
    width: 471px;
    max-width: unset;
  }

  &.active {
    display: block;
  }

  &__heading {
    padding: 24px 22px;
    background: var(--clr-main);
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);

    @media only screen and (min-width: 1400px) {
      padding: 38px 36px;
    }

    h2 {
      font-family: var(--f-righteous);
      font-size: 20px;
      font-weight: 400;
      color: var(--clr-white);

      @media only screen and (min-width: 992px) {
        font-size: 26px;
      }
    }
  }

  &__content {
    padding: 22px;

    @media only screen and (min-width: 1400px) {
      padding: 32px 36px;
    }
  }

  &__dates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 26px;

    @media only screen and (min-width: 992px) {
      gap: 40px;
    }
  }

  &__vehicle {
    label {
      display: block;
      margin-bottom: 10px;

      @media only screen and (min-width: 992px) {
        margin-bottom: 20px;
      }
    }

    p {
      margin-top: 10px;
      font-family: var(--f-chromatica);
      font-size: 12px;
      font-weight: 500;
      color: #4a4a4a;

      small {
        color: var(--clr-main);
      }
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;

    svg {
      display: block;
      width: 25px;
      height: 25px;
      fill: var(--clr-white);
    }
  }

  &__price {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: 1400px) {
      margin-bottom: 30px;
    }

    p {
      font-family: var(--f-chromatica);
      font-size: 20px;
      font-weight: 500;
      color: #4a4a4a;
      text-transform: capitalize;
    }

    div {
      font-family: var(--f-righteous);
      font-size: 20px;
      font-weight: 400;
      color: var(--clr-black);
    }
  }
}

.form-control,
.booking__vehicle {
  margin-bottom: 20px;

  @media only screen and (min-width: 1400px) {
    margin-bottom: 30px;
  }
}

[data-form-one],
[data-form-two] {
  display: none;

  &.shown {
    display: block;
  }
}
