.btn {
  height: 56px;
  padding: 0 40px;
  display: grid;
  place-content: center;

  background: transparent;
  border: none;
  border-radius: 3px;

  transition: all 0.15s ease-in-out;

  &--solid {
    background-color: var(--clr-main);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--clr-black);
    }
  }

  &--outline {
    border: 3px solid var(--clr-main);

    &:hover,
    &:active {
      background-color: var(--clr-main);

      svg {
        fill: var(--clr-black);
      }
    }

    &.active {
      background-color: var(--clr-main);

      svg {
        fill: var(--clr-black);
      }
    }

    svg {
      fill: var(--clr-main);
      transition: all 0.15s ease-in-out;
    }
  }

  &--block {
    width: 100%;
  }

  &--icon {
    display: flex;
    align-items: center;
    gap: 8px;

    @media only screen and (min-width: 992px) {
      gap: 20px;
    }

    &.rotate-arrow {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      display: block;
      width: 22px;
      height: 20px;
    }
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }

  &--center {
    justify-content: center;
    gap: 30px;
  }

  &--sp-between {
    justify-content: space-between;
  }
}

[data-video-play] {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 120px;
  border: 8px solid #2bc492;
  opacity: 1;
  pointer-events: all;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--clr-main);

    svg {
      fill: var(--clr-white);
    }
  }

  &.fade {
    opacity: 0;
    pointer-events: none;
  }

  svg {
    display: block;
    width: 56.022px;
    height: 60.244px;
    fill: #2bc492;
    transform: translateX(6px);
    transition: all 0.15s ease-in-out;
  }
}

.scroll-top {
  position: fixed;
  bottom: 42px;
  right: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-main);
  border: none;
  border-radius: 3px;
  z-index: 1000;
  transition: background-color 0.15s ease-in-out;

  &:hover,
  &:active {
    background-color: var(--clr-black);

    svg {
      fill: var(--clr-white);
    }
  }

  @media only screen and (min-width: 992px) {
    right: 50px;
  }

  @media only screen and (min-width: 1400px) {
    right: calc((100vw - 1398px) / 2);
  }

  svg {
    display: block;
    width: 16px;
    height: 15px;
    fill: var(--clr-black);
    transition: fill 0.15s ease-in-out;
  }
}
