.btn {
  height: 56px;
  padding: 0 40px;
  display: grid;
  place-content: center;

  background: transparent;
  border-radius: 3px;

  &--outline {
    border: 3px solid;

    &--main {
      border-color: var(--clr-main);
    }
  }

  &--main {
    background-color: var(--clr-main);
  }

  &--text-main {
    color: var(--clr-main);
  }

  &--text-white {
    color: var(--clr-white);
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.btn-main {
  height: 40px;
  padding: 0 14px;
  font-family: var(--f-righteous);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--clr-main);
  border: none;

  @media only screen and (min-width: 992px) {
    height: 58px;
    font-size: 20px;
    padding: 0 22px;
  }
}

.btn-outline {
  height: 40px;
  padding: 0 14px;
  font-family: var(--f-righteous);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  border: 1px solid var(--clr-main);

  @media only screen and (min-width: 992px) {
    height: 58px;
    font-size: 20px;
    padding: 0 22px;
  }
}

.btn-icon {
  display: flex;
  align-items: center;
  gap: 8px;

  @media only screen and (min-width: 992px) {
    gap: 20px;
  }

  svg {
    display: block;
    width: 22px;
    height: 20px;
    fill: currentColor;
  }
}

.btn-container {
  display: flex;
  align-items: center;

  &--center {
    justify-content: center;
    gap: 30px;
  }
}

.scroll-top {
  position: fixed;
  bottom: 42px;
  right: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-main);
  border: none;
  border-radius: 3px;
  z-index: 1000;
  transition: background-color 0.15s ease-in-out;

  &:hover,
  &:active {
    background-color: var(--clr-white);
  }

  @media only screen and (min-width: 992px) {
    right: 50px;
  }

  @media only screen and (min-width: 1400px) {
    right: calc((100vw - 1398px) / 2);
  }

  svg {
    display: block;
    width: 16px;
    height: 15px;
    fill: var(--clr-black);
  }
}
