.card-horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 500px;

  figure {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    h2 {
      font-family: var(--f-righteous);
      font-size: 30px;
      font-weight: 400;
      color: var(--clr-main);
      text-align: center;
      text-transform: uppercase;
    }

    p {
      font-family: var(--f-chromatica);
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      color: #4a4a4a;
      text-align: center;
      max-width: 470px;
    }

    a {
      max-width: 171px;
      color: var(--clr-white);
      background-color: var(--clr-main);
      border-radius: 3px;
    }
  }
}

.video-card {
  &__video {
    position: relative;

    video {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: transparent;
    border: none;
  }

  &__title {
    margin-top: 30px;
    font-family: var(--f-chromatica);
    font-size: 20px;
    font-weight: 500;
    color: var(--clr-white);
  }
}

.vehicle-rent {
  display: flex;
  background-color: var(--clr-white);
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);

  &--horizontal {
    flex-direction: row;
  }

  &__content {
    padding: 40px 30px 30px 23px;
    width: 350px;
  }

  figure {
    width: 280px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-family: var(--f-righteous);
    font-size: 20px;
    font-weight: 400;
    color: var(--clr-black);
    text-transform: uppercase;
  }

  &__dates {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .price {
    font-family: var(--f-righteous);
    font-size: 26px;
    font-weight: 400;
    color: var(--clr-black);

    &--main {
      color: var(--clr-main);
    }
  }

  .price-per-day {
    font-family: var(--f-righteous);
    font-size: 26px;
    font-weight: 400;
    color: var(--clr-main);
    text-transform: uppercase;
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .total {
    font-family: var(--f-righteous);
    font-size: 30px;
    font-weight: 400;
    color: #4a4a4a;
  }

  button[type='submit'] {
    font-family: var(--f-righteous);
    font-size: 20px;
    font-weight: 400;
    color: var(--clr-white);
    text-transform: uppercase;
    background-color: var(--clr-main);
    border: none;
    border-radius: 3px;
    width: 171px;
    padding: 18px 0;
  }
}
