.header {
  padding-block: 10px;
  z-index: 1000000000;
  background: #4a4a4a
    linear-gradient(
      260deg,
      #000000ed 0%,
      #00000071 39%,
      #17121273 59%,
      #54545400 100%
    )
    0% 0% no-repeat padding-box;

  @media only screen and (min-width: 1400px) {
    padding-block: 34px;
  }

  &--overlay {
    background: unset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cart {
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }

  &__items {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-main);
    border-radius: 24px;
    transform: translateX(3px);
  }

  svg {
    display: block;
    width: 43.627px;
    height: 41.925px;
    fill: var(--clr-white);
  }
}
