.navigation {
  margin-left: 77px;
  margin-right: auto;

  &__list {
    display: flex;
    gap: 50px;
  }

  &__link {
    position: relative;
    display: block;
    font-family: var(--f-righteous);
    font-size: 20px;
    color: var(--clr-white);
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: none;
  }

  [data-nav-dropdown-content] {
    position: absolute;
    margin-top: 18px;
  }

  [data-drop-right] {
    position: absolute;
    right: 0;
  }

  &__dropdown {
    width: 166px;
    background: hsl(0 0% 0% / 0.5);

    &__item {
      position: relative;
      padding-block: 14px;

      &:not(:last-child) {
        border-bottom: 1px solid hsl(0 0% 100% / 0.24);
      }
    }

    &__link {
      display: block;
      font-family: var(--f-righteous);
      font-size: 20px;
      color: var(--clr-white);
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      background: transparent;
      border: none;
    }
  }
}
