.our-team {
  margin-top: 30px;
  margin-bottom: 94px;

  &__grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 460px;
    justify-content: center;
    row-gap: 50px;

    @media only screen and (min-width: 1200px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 100px;
    }
  }
}

.team-member {
  max-width: 460px;
  width: 100%;

  @media only screen and (min-width: 1200px) {
    max-width: unset;
  }

  figure {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__container {
    min-height: 540px;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1200px) {
      min-height: 420px;
    }
  }

  &__heading {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

    gap: 20px;
    border-bottom: 1px solid #053727;

    @media only screen and (min-width: 1200px) {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
  }

  &__highlight {
    margin-bottom: 20px;
  }

  .social-menu {
    margin-top: auto;
  }
}
