.schedule {
  &__date {
    margin-bottom: 30px;
  }
}

.date-info {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  & > div {
    width: 78px;
  }
}

.schedule-list {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding-bottom: 20px;
  overflow-x: auto;

  @media only screen and (min-width: 992px) {
    overflow-x: unset;
  }

  /* width */
  &::-webkit-scrollbar {
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.schedule-item {
  display: grid;
  grid-template-columns: 126px 200px 58px 140px;
  column-gap: 20px;

  @media only screen and (min-width: 992px) {
    grid-template-columns: 166px 1fr 78px 298px;
    column-gap: 30px;
  }

  & > div {
    background: #efefef;
    border-radius: 5px;
  }

  .tour-info {
    position: relative;
  }

  [data-more-info] {
    position: relative;
  }

  &__additional-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    padding: 20px;
    background: var(--clr-white);
    display: flex;
    align-items: flex-start;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
    z-index: 1000;

    display: none;

    &.shown {
      display: flex;
    }

    @media only screen and (min-width: 1366px) {
      position: absolute;
      top: 0;
      right: 0;
      left: unset;
      transform: unset;
      width: 873px;
    }

    button {
      background-color: transparent;
      border: none;
    }

    .texts {
      padding-right: 20px;
    }
  }

  .dates {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
  }

  .date-start,
  .date-end {
    height: 40px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #efefef;

    @media only screen and (min-width: 992px) {
      height: 60px;
      width: 78px;
    }
  }

  .date-start {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -18px;
      transform: translateY(-50%);
      width: 26px;
      height: 8px;
      background: var(--clr-black);
    }
  }

  .tour-duration {
    height: 40px;
    padding: 0 30px;
    display: flex;
    align-items: center;

    @media only screen and (min-width: 992px) {
      height: 60px;
    }
  }

  .info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background: transparent;
    border: none;

    svg {
      display: block;
      width: 30px;
      height: 30px;
      fill: #727272;
      fill-rule: evenodd;
    }

    @media only screen and (min-width: 992px) {
      height: 60px;
    }
  }

  .tour-state {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--clr-black);
    border: none;
    border-radius: 5px;

    &--full {
      background-color: var(--clr-accent);
    }

    &--available {
      background-color: var(--clr-main);
    }

    &--neither {
      background-color: #fffa66;
    }
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
