[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  box-shadow: inset 0px 3px 6px rgba($color: #000000, $alpha: 0.16),
    0px 3px 6px rgba($color: #000000, $alpha: 0.16);
  padding: 30px 70px 30px 40px;
  margin-bottom: 30px;
  margin-top: 40px;

  &__controls {
    margin-bottom: 40px;
    display: flex;
    gap: 70px;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 17px;

      background: none;
      border: none;
      transition: color 0.15s ease-in-out;

      svg {
        width: 21px;
        height: 20px;
        fill: transparent;
        transition: fill 0.15s ease-in-out;
      }

      &.active {
        color: var(--clr-main);

        svg {
          fill: var(--clr-main);
        }
      }
    }
  }
}
