.video-gallery-container {
  padding: 40px 0 75px;
}

.video-gallery {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;

  @media only screen and (min-width: 992px) {
    grid-template-columns: 4fr 6fr;
    column-gap: 30px;
  }

  @media only screen and (min-width: 1400px) {
    grid-template-columns: 1fr 800px;
  }

  &__player {
    position: relative;
    align-self: end;

    video {
      aspect-ratio: 16 / 9;
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      border: none;
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.15s ease-in-out;

      &.fade {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

.video-list {
  margin-bottom: 24px;

  &__item {
    padding-block: 20px;
    border-bottom: 1px solid hsl(0 0% 100% / 0.56);

    &:hover,
    &:active,
    &:focus {
      .play-icon {
        background-color: var(--clr-main);

        svg {
          fill: var(--clr-white);
        }
      }
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: transparent;
    border: none;
  }
}
