.schedule {
  .page-title {
    margin-top: 58px;
    margin-bottom: 15px;
  }

  .page-subtitle {
    margin-bottom: 50px;
  }

  .btn-group {
    margin-bottom: 50px;
  }

  .title-double {
    margin-bottom: 50px;
  }
}
