.container {
  width: 100%;
  padding-inline: 50px;

  @media only screen and (min-width: 1400px) {
    padding: unset;
    margin: 0 auto;
    width: 1398px;
  }
}

.videos-grid {
  display: grid;
  grid-template-columns: repeat(3, 446px);
  column-gap: 30px;
  row-gap: 40px;
}
