.container {
  width: 100%;
  padding-inline: 15px;

  @media only screen and (min-width: 992px) {
    padding-inline: 50px;
  }

  @media only screen and (min-width: 1400px) {
    padding: unset;
    margin: 0 auto;
    width: 1398px;
  }
}

.videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(446px, 1fr));
  column-gap: 30px;
  row-gap: 40px;
}

.tour__details {
  display: grid;
  grid-template-columns: repeat(7, minmax(140px, 1fr));
  grid-template-rows: repeat(7, 130px);
  overflow-x: auto;
  padding-bottom: 10px;

  @media only screen and (min-width: 1420px) {
    grid-template-columns: repeat(7, 200px);
    overflow-x: unset;
  }

  /* width */
  &::-webkit-scrollbar {
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
