@font-face {
  font-family: "Showcard Gothic";
  src: url("../fonts/ShowcardGothic-Reg.woff2") format("woff2"),
    url("../fonts/ShowcardGothic-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Righteous";
  src: url("../fonts/Righteous-Regular.woff2") format("woff2"),
    url("../fonts/Righteous-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chromatica";
  src: url("../fonts/Chromatica-Regular.woff2") format("woff2"),
    url("../fonts/Chromatica-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chromatica";
  src: url("../fonts/Chromatica-Medium.woff2") format("woff2"),
    url("../fonts/Chromatica-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chromatica";
  src: url("../fonts/Chromatica-Bold.woff2") format("woff2"),
    url("../fonts/Chromatica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
