*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

video {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

ul[role='list'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;

  li {
    position: relative;
    margin-left: 5px;
    padding-left: 30px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background-color: var(--clr-main);
    }
  }
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  color: var(--clr-black);
  font-family: var(--f-chromatica);
}

.dark {
  background-color: var(--clr-dark-1);
  color: var(--clr-white);
}

.choose-vehicle {
  padding-block: 90px;
  background-color: var(--clr-white);

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 410px 410px;
    row-gap: 30px;

    @media only screen and (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 410px;
      column-gap: 30px;
    }
  }

  &__moto,
  &__auto {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;

    h2 {
      position: absolute;
      top: 280px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 10ch;
    }
  }

  &__moto {
    background-image: url(../images/choose-moto.jpg);
  }

  &__auto {
    background-image: url(../images/choose-auto.jpg);
  }
}

.about-us {
  padding: 65px 0 100px 0;

  &__texts {
    max-width: 913px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;
    z-index: 100000;
    padding-inline: 50px;

    @media only screen and (min-width: 1366px) {
      padding-inline: unset;
    }
  }

  &__subtitle {
    margin: 20px 0 22px 0;

    @media only screen and (min-width: 992px) {
      margin: 40px 0 44px 0;
    }
  }

  &__team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media only screen and (min-width: 992px) {
      grid-template-columns: repeat(5, 1fr);
    }

    figure {
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      figcaption {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        @media only screen and (min-width: 992px) {
          bottom: 50px;
        }
      }
    }
  }
}

.play-icon {
  flex-shrink: 0;
  display: grid;
  place-content: center;
  border: 2px solid var(--clr-main);
  border-radius: 200px;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--clr-main);

    svg {
      fill: var(--clr-white);
    }
  }

  svg {
    display: block;
    fill: var(--clr-main);
    transition: fill 0.15s ease-in-out;
  }

  &--lg {
    width: 120px;
    height: 120px;
    border-width: 8px;

    svg {
      transform: translateX(6px);
    }
  }

  &--small {
    width: 24px;
    height: 24px;

    svg {
      width: 11.156px;
      height: 11.996px;
      transform: translateX(2px);
    }
  }
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media only screen and (min-width: 992px) {
    gap: 30px;
  }

  &--left {
    justify-content: flex-start;
  }
}

.divider {
  margin: 30px 0;
  width: 100%;
  height: 1px;
  background: #d5d5d5;
}

.car-tours {
  .texts {
    margin-top: 40px;
  }
  .alternating {
    margin-block: 50px;
  }
}

.slick-arrow {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #acacac;
  border: none;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;

  @media only screen and (min-width: 1400px) {
    width: 88px;
    height: 88px;
  }

  &:hover,
  &:active {
    background-color: var(--clr-main);
  }

  svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--clr-white);

    @media only screen and (min-width: 1400px) {
      width: 40px;
      height: 40px;
    }
  }

  &.slick-prev,
  &.slick-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &.slick-prev {
    right: 60px;

    @media only screen and (min-width: 1400px) {
      right: 100px;
    }
  }
}

.images {
  margin-top: 38px;
  margin-bottom: 40px;

  width: 100%;
  margin-right: auto;
  margin-left: unset;

  .slick-slide {
    margin-inline: 0;

    @media only screen and (min-width: 530px) {
      margin-inline: 10px;
    }
  }

  .slick-list {
    width: 70%;

    @media only screen and (min-width: 530px) {
      width: 80%;
      margin-left: -10px;
    }

    @media only screen and (min-width: 768px) {
      width: 86%;
    }

    @media only screen and (min-width: 1400px) {
      width: 1159px;
    }
  }
}

.photo-gallery {
  margin-top: 50px;

  h2 {
    margin-bottom: 30px;
  }

  .featured-image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.tour-map {
  margin-block: 50px;
}

.rent {
  padding: 50px 20px 40px;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (min-width: 992px) {
    padding-inline: 0;
  }

  &__book-now-btn {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__accent {
    max-width: 857px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  &__disclaimer {
    max-width: 857px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

.vehicle-cards {
  display: grid;

  &--2 {
    grid-template-columns: 340px;
    justify-content: center;
    column-gap: 30px;
    row-gap: 40px;

    @media only screen and (min-width: 460px) {
      grid-template-columns: 420px;
    }

    @media only screen and (min-width: 768px) {
      grid-template-columns: 684px;
    }

    @media only screen and (min-width: 1400px) {
      grid-template-columns: 684px 684px;
    }
  }

  &--3 {
    grid-template-columns: 340px;
    justify-content: center;
    column-gap: 30px;
    row-gap: 40px;

    @media only screen and (min-width: 460px) {
      grid-template-columns: 420px;
    }

    @media only screen and (min-width: 992px) {
      grid-template-columns: repeat(2, 420px);
    }

    @media only screen and (min-width: 1366px) {
      grid-template-columns: repeat(3, 420px);
    }

    @media only screen and (min-width: 1400px) {
      grid-template-columns: repeat(3, 420px);
    }
  }
}

.social-menu {
  margin-top: 30px;
  display: flex;
  gap: 22px;

  &--white {
    a {
      border-color: var(--clr-white) !important;

      &:hover {
        border-color: var(--clr-main) !important;
      }
    }
    svg {
      fill: var(--clr-white) !important;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 67px;
    border: 1px solid var(--clr-main);
    background-color: transparent;
    border-radius: 67px;
    text-decoration: none;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: var(--clr-main);

      svg {
        fill: var(--clr-white);
      }
    }
  }

  svg {
    display: block;
    fill: var(--clr-main);
    transition: fill 0.15s ease-in-out;
  }

  &__facebook {
    width: 17.235px;
    height: 31.5px;
  }

  &__insta {
    width: 31.5px;
    height: 31.5px;
  }
}

#map {
  height: 473px;
  background-color: #fff;
}

.gallery {
  &__title {
    position: relative;
    margin-bottom: 50px;
    font-family: var(--f-righteous);
    font-size: 30px;
    font-weight: 400;
    color: var(--clr-white);
    text-transform: uppercase;
    text-align: left;

    span {
      position: relative;
      z-index: 1;
      background-color: var(--clr-dark-1);
      padding-right: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 1px;
      width: 100%;
      background-color: rgba($color: #fff, $alpha: 0.56);
    }
  }
}

.tour-details {
  margin: 0 auto;

  @media only screen and (min-width: 1200px) {
    width: 1155px;
  }
}

.tour__details {
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 15px;
    font-size: 18px;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16),
      0px 3px 6px rgba(0, 0, 0, 0.16);
  }

  .bg-main {
    color: var(--clr-white);
    background-color: var(--clr-main);
  }
}
