*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

video {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

ul[role='list'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;

  li {
    position: relative;
    margin-left: 5px;
    padding-left: 30px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background-color: var(--clr-main);
    }
  }
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.dark {
  background-color: var(--clr-dark-1);
}

.choose-vehicle {
  padding-block: 90px;
  background-color: var(--clr-white);

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 410px 410px;
    row-gap: 30px;

    @media only screen and (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 410px;
      column-gap: 30px;
    }
  }

  &__moto,
  &__auto {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;

    h2 {
      position: absolute;
      top: 280px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 10ch;
    }
  }

  &__moto {
    background-image: url(../images/choose-moto.jpg);
  }

  &__auto {
    background-image: url(../images/choose-auto.jpg);
  }
}

.about-us {
  &__texts {
    max-width: 913px;
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;
    z-index: 100000;
  }
}

.home-about-us__team {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  figure {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.home-video-gallery {
  padding: 40px 0 75px;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;

    @media only screen and (min-width: 992px) {
      grid-template-columns: 40% 60%;
      column-gap: 30px;
    }

    @media only screen and (min-width: 1400px) {
      grid-template-columns: 1fr 800px;
    }
  }

  &__video {
    position: relative;
    align-self: end;
    // height: 452px;

    video {
      aspect-ratio: 16 / 9;
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      border: none;
    }
  }

  &__list {
    margin-bottom: 24px;

    li {
      padding-block: 20px;
      border-bottom: 1px solid hsl(0 0% 100% / 0.56);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.play-icon {
  flex-shrink: 0;
  display: grid;
  place-content: center;
  border: 2px solid var(--clr-main);
  border-radius: 200px;

  svg {
    display: block;
  }

  &--small {
    width: 24px;
    height: 24px;

    svg {
      transform: translateX(1px);
    }
  }

  &--lg {
    width: 120px;
    height: 120px;
    border: 8px solid var(--clr-main);

    svg {
      transform: translateX(5px);
    }
  }
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media only screen and (min-width: 992px) {
    gap: 30px;
  }

  &--left {
    justify-content: flex-start;
  }
}

.divider {
  margin: 30px 0;
  width: 100%;
  height: 1px;
  background: #d5d5d5;
}

.car-tours {
  .alternating {
    margin-block: 50px;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '' !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 88px;
  height: 88px;
  background-color: #acacac;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:active {
    background-color: var(--clr-main);
  }

  svg {
    display: block;
    width: 40px;
    height: 40px;
    fill: var(--clr-white);
  }
}

.images {
  margin-top: 38px;
  margin-bottom: 40px;
  width: 1159px;
  margin-right: auto;
  margin-left: unset;

  .swiper-image {
    width: 207px;
  }
}

.photo-gallery {
  margin-top: 50px;

  h2 {
    margin-bottom: 30px;
  }

  .featured-image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.tour-map {
  margin-block: 50px;
}

.rent {
  padding: 50px 0 40px 0;
  background-repeat: no-repeat;
  background-size: cover;

  &__book-now {
    display: block;
    margin: 50px auto 30px auto;
    background-color: var(--clr-main);
    border: none;
    border-radius: 3px;
    width: 171px;
    padding: 18px 0;
  }

  &__accent {
    max-width: 857px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  &__disclaimer {
    max-width: 857px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

.vehicle-cards {
  display: grid;

  &--2 {
    grid-template-columns: 684px 684px;
    column-gap: 30px;
  }
}
