.page-title {
  font-family: var(--f-righteous);
  font-size: 30px;
  font-weight: 400;
  color: var(--f-black);
  text-align: center;
  text-transform: uppercase;

  @media only screen and (min-width: 1366px) {
    font-size: 57px;
  }
}

.page-subtitle {
  font-family: var(--f-righteous);
  font-size: 20px;
  font-weight: 400;
  color: var(--f-black);
  text-align: center;
  text-transform: uppercase;

  @media only screen and (min-width: 1366px) {
    font-size: 35px;
  }
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &--light {
    p {
      color: #637271 !important;
    }
  }

  &--main {
    p {
      color: var(--clr-main) !important;
    }
  }

  p {
    font-family: var(--f-chromatica);
    font-size: 20px;
    font-weight: 400;
    color: var(--clr-black);
    line-height: 22px;
  }
}

.title-double {
  position: relative;

  &--left {
    width: 40%;
    margin-right: auto;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--f-righteous);
    font-size: 6vw;
    color: var(--clr-white);
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    white-space: nowrap;

    &--dark {
      color: var(--clr-black);
    }

    &--light {
      color: var(--clr-white);
    }

    @media only screen and (min-width: 1366px) {
      font-size: 40px;
    }
  }

  &__decorative {
    display: block;
    font-family: var(--f-gothic);
    font-size: 11vw;
    text-align: center;
    opacity: 0.24;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2bc492;

    // &--left {
    //   text-align: left;
    // }

    &--dark {
      color: var(--clr-main);
      -webkit-text-fill-color: unset;
      -webkit-text-stroke-width: unset;
      -webkit-text-stroke-color: unset;
    }

    &--main {
      color: var(--clr-main);
      opacity: 0.72;
      -webkit-text-fill-color: unset;
      -webkit-text-stroke-width: unset;
      -webkit-text-stroke-color: unset;
    }

    @media only screen and (min-width: 1366px) {
      font-size: 152px;
    }
  }
}

.about-us {
  &__title {
    font-family: var(--f-righteous);
    font-size: 6vw;
    color: var(--clr-white);
    text-transform: uppercase;
    text-align: center;

    @media only screen and (min-width: 1366px) {
      font-size: 50px;
    }
  }

  &__subtitle {
    font-family: var(--f-chromatica);
    font-size: 4vw;
    color: var(--clr-gray-2);
    text-align: center;

    @media only screen and (min-width: 1366px) {
      font-size: 20px;
    }
  }

  &__team {
    figcaption {
      font-family: var(--f-righteous);
      font-size: 30px;
      color: var(--clr-white);
      text-transform: uppercase;
    }
  }
}

.video-list {
  &__btn {
    font-family: var(--f-chromatica);
    font-size: 20px;
    font-weight: 500;
    color: var(--clr-white);
    text-decoration: none;
    text-align: left;
  }
}

.rent {
  &__book-now {
    font-family: var(--f-righteous);
    font-size: 20px;
    font-weight: 400;
    color: var(--clr-white);
    text-transform: uppercase;
    text-decoration: none;
  }

  &__accent {
    font-family: var(--f-righteous);
    font-size: 18px;
    font-weight: 400;
    color: var(--clr-white);
    text-align: center;
  }

  &__disclaimer {
    font-family: var(--f-chromatica);
    font-size: 16px;
    font-weight: 400;
    color: var(--clr-white);
    text-align: center;
  }
}

.photo-gallery {
  h2 {
    font-family: var(--f-righteous);
    font-size: 30px;
    font-weight: 400;
    color: #4a4a4a;
    text-transform: uppercase;
  }
}

.choose-vehicle {
  h2 {
    font-family: var(--f-righteous);
    font-size: 40px;
    color: var(--clr-white);
    text-transform: uppercase;
    text-align: center;
  }
}

.banner {
  &__title {
    font-family: var(--f-righteous);
    font-size: 40px;
    color: var(--clr-main);
    text-transform: uppercase;

    &--white {
      color: var(--clr-white);
    }

    @media only screen and (min-width: 1366px) {
      font-size: 70px;
    }
  }

  &__soviet {
    p {
      font-family: var(--f-chromatica);
      font-size: 31px;
      font-weight: 400;
      color: var(--clr-white);
    }

    a {
      font-family: var(--f-righteous);
      font-size: 16px;
      font-weight: 400;
      color: var(--clr-white);
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.btn {
  font-family: var(--f-righteous);
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.card-horizontal {
  h2 {
    font-family: var(--f-righteous);
    font-size: 30px;
    font-weight: 400;
    color: var(--clr-main);
    text-align: center;
    text-transform: uppercase;
  }

  p {
    font-family: var(--f-chromatica);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: #4a4a4a;
    text-align: center;
  }

  a {
    color: var(--clr-white);
  }
}

.video-card {
  &__title {
    font-family: var(--f-chromatica);
    font-size: 20px;
    font-weight: 500;
    color: var(--clr-white);
  }
}

.vehicle-rent {
  &__title {
    font-family: var(--f-righteous);
    font-size: 20px;
    font-weight: 400;
    color: var(--clr-black);
    text-transform: uppercase;
  }

  .price {
    font-family: var(--f-righteous);
    font-size: 26px;
    font-weight: 400;
    color: var(--clr-black);

    &--main {
      color: var(--clr-main);
    }
  }

  .price-per-day {
    font-family: var(--f-righteous);
    font-size: 26px;
    font-weight: 400;
    color: var(--clr-main);
    text-transform: uppercase;
  }
}

.footer {
  font-family: var(--f-chromatica);
  font-weight: 500;
  color: var(--clr-black);

  &__title {
    font-family: var(--f-righteous);
    font-size: 20px;
    font-weight: 400;
    color: var(--clr-black);
    text-transform: uppercase;
  }

  address {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__blog-entry {
    h3 {
      a {
        color: inherit;
        text-decoration: none;
      }
    }

    time {
      color: var(--clr-white);
    }
  }

  &__sales {
    h3 {
      text-transform: uppercase;
    }

    p {
      line-height: 26px;
    }
  }

  &__nav {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__created-by {
    font-size: 14px;

    a {
      font-size: 16px;
      color: var(--clr-white);
      text-decoration: none;
    }
  }

  &__copy {
    font-size: 12px;
  }
}

.cart {
  &__items {
    font-family: var(--f-chromatica);
    font-size: 14px;
    font-weight: 500;
    color: var(--clr-white);
  }
}

.moto {
  &__specs {
    h2 {
      font-family: var(--f-righteous);
      font-size: 30px;
      font-weight: 400;
      color: var(--clr-black);
    }
  }
}

.specs-grid {
  li {
    strong {
      font-family: var(--f-chromatica);
      font-size: 20px;
      font-weight: 900;
      color: var(--clr-black);
    }

    span {
      font-family: var(--f-chromatica);
      font-size: 18px;
      font-weight: 400;
      color: var(--clr-black);
      line-height: 1.4;
    }
  }
}

.features {
  font-family: var(--f-chromatica);
  font-size: 21px;
  font-weight: 500;
  color: var(--clr-black);
  text-transform: uppercase;
}

.navigation {
  &__link {
    font-family: var(--f-righteous);
    font-size: 16px;
    color: var(--clr-white);
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-in-out;

    &:hover,
    &:focus {
      outline: none;
      color: var(--clr-black);

      @media only screen and (min-width: 1366px) {
        color: var(--clr-main);
      }
    }

    @media only screen and (min-width: 1366px) {
      font-size: 20px;
    }
  }

  &__dropdown {
    &__link {
      font-family: var(--f-righteous);
      font-size: 16px;
      color: var(--clr-white);
      text-transform: uppercase;
      text-decoration: none;
      text-align: left;
      transition: all 0.15s ease-in-out;

      @media only screen and (min-width: 1366px) {
        font-size: 20px;
        text-align: center;
      }

      &:hover,
      &:focus {
        outline: none;
        color: var(--clr-black);

        @media only screen and (min-width: 1366px) {
          color: var(--clr-white);
        }
      }
    }
  }
}

.our-team {
  &__title {
    font-family: var(--f-righteous);
    font-size: 63px;
    font-weight: 400;
    color: var(--clr-main);
    text-align: center;
    text-transform: uppercase;
  }
}

.team-member {
  &__name {
    font-family: var(--f-righteous);
    font-size: 24px;
    font-weight: 400;
    color: var(--clr-white);
    text-transform: uppercase;

    @media only screen and (min-width: 768px) {
      font-size: 30px;
    }
  }

  &__job {
    font-family: var(--f-righteous);
    font-size: 18px;
    font-weight: 400;
    color: var(--clr-main);
    text-transform: uppercase;

    @media only screen and (min-width: 768px) {
      font-size: 20px;
      text-align: right;
    }
  }

  &__highlight {
    font-family: var(--f-righteous);
    font-size: 18px;
    font-weight: 400;
    color: var(--clr-white);
    opacity: 0.73;
    text-transform: uppercase;

    @media only screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__bio {
    font-family: var(--f-chromatica);
    font-size: 16px;
    font-weight: 500;
    color: hsl(176, 7%, 42%);
    line-height: 17px;
  }
}

.tabs {
  button {
    font-family: var(--f-righteous);
    font-size: 20px;
    font-weight: 400;
    color: #4a4a4a;
    text-transform: uppercase;
  }
}

.schedule {
  &__date {
    font-family: var(--f-righteous);
    font-size: 30px;
    font-weight: 400;
    color: var(--clr-black);
    text-transform: uppercase;
  }
}

.date-info {
  & > div {
    font-family: var(--f-chromatica);
    font-size: 20px;
    font-weight: 500;
    color: var(--clr-main);
    text-align: center;
    text-transform: uppercase;
  }
}

.schedule-item {
  & > div {
    font-family: var(--f-chromatica);
    font-size: 16px;
    font-weight: 500;

    @media only screen and (min-width: 1366px) {
      font-size: 20px;
    }
  }

  &__additional-info {
    .texts {
      p {
        font-size: 12px;
      }
    }
  }

  .tour-state {
    font-family: var(--f-chromatica);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

    @media only screen and (min-width: 1366px) {
      font-size: 20px;
    }
  }
}

.included {
  font-family: var(--f-chromatica);
  font-size: 16px;
  font-weight: 500;
  color: var(--clr-black);

  @media only screen and (min-width: 1366px) {
    font-size: 20px;
  }
}
