:root {
  // Fonts
  --f-chromatica: 'Chromatica';
  --f-righteous: 'Righteous';
  --f-gothic: 'Showcard Gothic';

  //   Colors
  --clr-white: hsl(0 0% 100%);
  --clr-black: hsl(0 0% 0%);
  --clr-dark-1: hsl(180 60% 2%);
  --clr-dark-2: hsl(0 0% 20%);
  --clr-gray-1: hsl(0 0% 44%);
  --clr-gray-2: hsl(0 0% 58%);
  --clr-gray-3: hsl(0 12% 8% / 0.45);
  --clr-main: hsl(160 64% 47%);
  --clr-accent: hsl(345 72% 63%);
}
